{{ define "main" }}
  <article lang="{{ .Params.lang }}">
    <header class="document-header">
      <p class="document-path">{{ .RelPermalink }}</p>
      <h1>{{ .Title }}</h1>
      {{- with .Params.series }}{{ partial "series-nav.html" (dict "page" $ "mode" "position") }}{{ end }}
      <dl class="document-meta">
        {{- with .Params.created }}
          <div><dt>created</dt><dd><time datetime="{{ time.Format "2006-01-02" . }}">{{ time.Format "2006-01-02" . }}</time></dd></div>
        {{- end }}
        <div><dt>updated</dt><dd><time datetime="{{ time.Format "2006-01-02" .Params.updated }}">{{ time.Format "2006-01-02" .Params.updated }}</time></dd></div>
        <div><dt>license</dt><dd>{{ .Params.license }}</dd></div>
      </dl>
      {{ partial "document-view.html" . }}
    </header>
    {{ partial "toc.html" . }}
    {{ .Content }}
    {{- with .Params.series }}{{ partial "series-nav.html" (dict "page" $ "mode" "navigation") }}{{ end }}
  </article>
{{ end }}
